<!DOCTYPE html>
<html>
    <title>Graphs</title>
    <body>
        <div>Moyenne des prix à Paris : {{ mean_price_paris }}€/nuit</div>
        <div><img src='{{ hist_paris }}'></div>
        <div>
            Nombre total de logements dont les données ont été traitées : {{ total_houses_paris }}<br/>
            Avec {{ paris_total_private_room }} chambres privées soit {{ paris_percentage_private_room }}%<br/>
            et {{ paris_total_entire_house }} maisons complètes soit {{ paris_percentage_entire_house }}%<br/>
        </div>
        <div>
            <br/>
            Moyenne des prix pour des chambres privées : {{ paris_private_room_mean_price }}€<br/>
            Moyenne des prix pour des maisons entières : {{ paris_entire_house_mean_price }}€
        </div>
        <div>
            debug = {{ debug }}
            <img src="{{ paris_reviews_plot }}">
        </div>
    </body>
</html>